/* ==== Animasi Scroll Global ==== */
.animate {
  opacity: 0;
  transition: all 0.8s ease-out;
}

.fade-up {
  transform: translateY(40px);
}
.fade-left {
  transform: translateX(-40px);
}
.fade-right {
  transform: translateX(40px);
}

.show {
  opacity: 1;
  transform: translate(0, 0);
}
