#divisi .card {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out;
}

#divisi .card:hover {
  transform: translateY(-5px);
}

.divisi-list {
  list-style: decimal;
  list-style-position: outside;
  text-align: left;
  padding: 20px;
}

.divisi-list li {
  margin-bottom: 10px;
}

#divisi .hidden {
  display: none;
}
